{% extends 'ghar_dikhao/base.html' %}
{% load static %}

{% block content %}
    
    <h3 id="jj"><center>contact Page</center></h3>
    {% if messages %}
        
        {% for mes in messages %}
           <p  class="alert alert-{{mes.tags}} mb-5">{{mes}}</p>
        {% endfor %}
    {% endif %}
    <form action="" method="POST"  novalidate >
    {% csrf_token %}
    {% for fm in form %}
        <div class="form-class">
        {{fm.label_tag}} {{fm}} <span class="errorlist">{{fm.errors|striptags}}</span>
        
        </div>
    {% endfor %}
   <button type="sumbit" class="btn btn-danger"><i class="fa fa-paper-plane w3-margin-right"></i>send mail</button>
    </form>
    <div class="row">
        <div class="col-md-6 kk"><i class="fa fa-mobile fa-3x" aria-hidden="true" id="hhs"></i> Phone No :  +917667805624</div>
        <div class="col-md-6 kk"><i class="fas fa-envelope fa-3x"></i> email : rishav700ranjan@gmail.com</div>
        
    </div>
{% endblock content %}