
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12  fg">
        <center><h3>Our Branches</h3></center>
        <center><p class="dk"> Mumbai</p></center>
        <center><p class="dk"> Dhanbad</p></center>
        <center><p class="dk"> Banglore</p></center>
        <center><p class="dk">Kolkata</p></center>
    </div>
    
    
    <div class="container fot">
        <i class="fab fa-twitter fa-3x llo"></i>
        <i class="fab fa-facebook fa-3x llo"></i>
        <i class="fab fa-instagram fa-3x llo"></i>
        <i class="fab fa-linkedin fa-3x llo"></i>
    </div>
    
            

</div>
<div class="row">
    <div class="col-md-12 col-sm-12 ic kkl">
        <center>&#169; Rishav Ranjan 2020</center>
    <div>

</div>
