
<div class="row">
    <div class="col-md-4 fg">
        <center><h3>Our Branches</h3></center>
        <center><p class="dk"> Mumbai</p></center>
        <center><p class="dk"> Dhanbad</p></center>
        <center><p class="dk"> Banglore</p></center>
        <center><p class="dk">Kolkata</p></center>
    </div>
    
    <div class="col-md-8 kl">
        <h3>Services</h3>
        
        <span>family</span>
        <span>friends</span>
        <span>full bed</span>
        <span>half bed</span>
        <span>bye</span>
        <span>tata</span>
        
    </div>
    <div class="container fot">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
    </div>
    
            

</div>